@use 'src/styles/breakpoints' as breakpoints;
@use 'src/styles/variables' as *;
@use 'src/styles/custom-scrollbar';

body {
  font-family: var(--font-montserrat), sans-serif;

  & * {
    box-sizing: border-box;

    &:focus-visible {
      outline: none;
      box-shadow: var(--shadow-froly);
    }
  }

  a {
    text-decoration: unset;
    color: currentColor;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
  }

  img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  ol {
    margin: 0;
    padding: 0;
  }
}
