:root {
  --color-dark-red: #3C0000;
  --color-light-red: #C30C0C;
  --color-red: #EB2F2F;
  --color-black: #140000;
  --color-white: #F7F5F5;
  --color-white-light: #EDE6E6;
  --color-grey: #D1C0C0;
  --color-grey-dark: #B89E9E;

  --color-secondary-white: #F2F8FC;
  --color-secondary-light-blue: #E8F1FA;
  --color-secondary-blue: #C9DDF1;
  --color-secondary-blue-second: #99B1C8;
  --color-secondary-blue-third: #6F879E;
  --color-secondary-dark-blue: #4F687F;
  --color-secondary-dark-blue-second: #334A60;
}

body {
  font-family: var(--font-montserrat), sans-serif;
}
