@use 'src/styles/breakpoints' as breakpoints;

.reviewsContainer {
  width: 100%;
  background-color: var(--color-hint-of-red);
  scroll-margin-top: 60px;

  @include breakpoints.md {
    scroll-margin-top: 60px;
  }
}

.reviewsWrapper {
  display: flex;
  flex-direction: column;
  padding: 60px 12px;

  @include breakpoints.lg {
    padding: 120px 130px;
  }

  @include breakpoints.xl {
    padding: 60px 200px 120px;
  }
}

.reviewsTitleWrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
  position: relative;
  align-items: center;

  @include breakpoints.md {
    align-items: flex-start;
    margin-left: 72px;
  }
}

.reviewsTitle {
  font-size: 40px;
  line-height: 47px;
  font-weight: 800;
  z-index: 2;
  color: var(--color-dark-burgundy);

  @include breakpoints.md_r {
    width: 100%;
    font-size: 38px;
    font-weight: 800;
    line-height: 46px;
    text-align: center;
  }
}

.reviewsSubtitle {
  font-size: 18px;
  line-height: 28px;
  font-weight: 500;
  color: var(--color-submarine-blue);
  margin-bottom: 24px;
  z-index: 2;
}

.reviewQuotePhoto {
  position: absolute;
  bottom: 0;
  right: 0;

  @include breakpoints.md {
    top: -30px;
    left: -70px;
  }
}

.reviewsBlock {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 16px;

  @include breakpoints.md {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    align-self: flex-start;
    gap: 16px;
    margin: 0 20px;
  }
}

.reviewItem {
  display: flex;
  border-radius: 12px;
  background-color: var(--color-white);
  filter: drop-shadow(0px 2px 8px rgb(19, 2, 2, 0.08));
  flex-direction: column;

  @include breakpoints.md {
    width: 32%;
    flex-direction: row;
  }
}

.reviewItemWrapper {
  display: flex;
  flex-direction: column;
  padding: 32px;
}

.reviewsItemUserBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reviewItemPhoto {
  width: 60px;
  height: 60px;
  border-radius: 188px;
}

.reviewItemTextBlock {
  margin-top: 32px;
  display: flex;
  justify-content: flex-start;
  gap: 16px;
}

.smallQuote {
  width: 23px;
  height: 19px;
  fill: var(--color-thatch);
}

.reviewItemTextContainer {
  display: flex;
  flex-direction: column;
}

.reviewItemMainText {
  font-size: 18px;
  line-height: 28px;
  font-weight: 500;
  color: var(--color-woodsmoke);
  margin-bottom: 24px;
}

.reviewItemAuthorName {
  font-size: 16px;
  line-height: 26px;
  font-weight: 800;
  color: var(--color-woodsmoke);
}

.reviewItemPetName {
  font-size: 14px;
  line-height: 20px;
  color: var(--color-gray);
}
