:root {
  --color-temptress: #3c0000;
  --color-milano-red: #c30c0c;
  --color-alizarin-crimson: #eb2f2f;
  --color-diesel: #140000;
  --color-hint-of-red: #f7f5f5;
  --color-ebb: #ede6e6;
  --color-cold-turkey: #d1c0c0;
  --color-thatch: #b89e9e;
  --color-polar: #f2f8fc;
  --color-link-water: #e8f1fa;
  --color-link-water-secondary: #c9ddf1;
  --color-rock-blue: #99b1c8;
  --color-lynch: #6f879e;
  --color-blue-bayoux: #4f687f;
  --color-pickled-bluewood: #334a60;
  --color-gray-chateau: #99a2a5;
  --color-woodsmoke: #0e1314;
  --color-white: #fdfdfd;
  --color-dark-burgundy: #870908;
  --color-iron: #ccd1d2;

  --shadow-froly: 0px 0px 0px 2px #f76e9080;
  --shadow-asphalt: 0px 6px 22px -2px #1d09091f, 0px 2px 8px 0px #13020214;
}
