@use 'src/styles/breakpoints' as breakpoints;

.container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-basis: auto;
  flex-shrink: 0;
  flex-grow: 0;
  padding: 60px 130px;
  gap: 24px;
  height: 100%;
  background-image: url('./dog-paw.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 25% center;

  @include breakpoints.md_r {
    padding: 10px 16px;
    background-position: center top;
    background-size: cover;
  }

  @include breakpoints.xl {
    padding: 20px 200px;
  }
}

.title {
  font-size: 40px;
  line-height: 54px;
  font-weight: 800;
  color: var(--color-dark-burgundy);

  @include breakpoints.md_r {
    width: 100%;
    font-size: 38px;
    font-weight: 800;
    line-height: 46px;
    text-align: center;
  }
}

.selectBlock {
  display: flex;
  justify-content: flex-start;
  gap: 12px;
  align-items: center;
  padding: 12px 14px;
  border-radius: 12px;
  background-color: var(--color-white);
  width: fit-content;

  @include breakpoints.sm_r {
    flex-direction: column;
    width: 100%;
  }
}

.selectBlockText {
  font-size: 20px;
  line-height: 28px;
  font-weight: 800;
  color: var(--color-diesel);
}

.select {
  width: 440px;

  @include breakpoints.sm_r {
    width: 333px;
  }
}

.serviceContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  flex-wrap: wrap;
  gap: 20px;
}

.serviceItemContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 16px;
  border-radius: 12px;
  background-color: var(--color-white);
  gap: 16px;
  flex-basis: 100%;
  max-width: 100%;

  @include breakpoints.sm {
    flex-basis: calc(50% - 10px);
    max-width: calc(50% - 10px);
  }

  @include breakpoints.lg {
    flex-basis: calc(33.33% - (2 * 20px / 3));
    max-width: calc(33.33% - (2 * 20px / 3));
  }
}
