@use 'src/styles/breakpoints' as breakpoints;

.button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  border: 1px solid;
  border-radius: var(--r-pill);
  min-height: 48px;
  transition: all 0.3s ease;

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  @include breakpoints.lg {
    &:hover:not(:disabled) {
      transform: translateY(-2px);
      box-shadow: var(--shadow-asphalt);
    }

    &:active:not(:disabled) {
      box-shadow: var(--shadow-froly);
      transform: scale(0.98);
    }
  }
}

.primary {
  color: var(--color-white);

  &.red {
    background-color: var(--color-dark-burgundy);
    border-color: var(--color-dark-burgundy);
  }

  &.blue {
    background-color: var(--color-blue-bayoux);
    border-color: var(--color-blue-bayoux);

    &:disabled {
      opacity: 1;
      background-color: var(--color-cloud-whisper);
      color: var(--color-gray-chateau);
      border-color: var(--color-cloud-whisper);
    }
  }
}

.secondary {
  &.red {
    background-color: transparent;
    border-color: var(--color-dark-burgundy);
    color: var(--color-dark-burgundy);
  }

  &.blue {
    background-color: transparent;
    border-color: var(--color-blue-bayoux);
    color: var(--color-blue-bayoux);

    &:disabled {
      opacity: 1;
      font-weight: 600;
      background-color: var(--color-white);
      color: var(--color-gray-chateau);
      border: 2px solid var(--color-cloud-whisper);
    }
  }
}

.link {
  background-color: transparent;
  border: 0;

  &.red {
    color: var(--color-dark-burgundy);
  }

  &.blue {
    color: var(--color-blue-bayoux);
  }

  &:hover,
  &:active {
    box-shadow: none !important;
    transform: none !important;
  }
}

.onvideo {
  color: var(--color-white);
  background-color: rgba(253, 253, 253, 0.16);
  border-color: rgba(253, 253, 253, 0.48);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.medium {
  padding: 9px 20px;
}

.large {
  padding: 14px 28px;
  min-height: 56px;
}

.block {
  width: 100%;
}

.iconStart {
  margin-right: 10px;
}

.iconEnd {
  margin-left: 10px;
}
